In [2]:
# Imports and data reading from files
import pandas as pd

data = pd.read_csv('../../data/games/2021-22.csv')
players = pd.read_csv('../../data/players/2021-22.csv')
teams = pd.read_csv('../../data/teams.csv')

# Splitting raw teams data into east and west conferences
conferences = { 
    'east' : list(teams[teams['location'] == 'east']['team']),
    'west' : list(teams[teams['location'] == 'west' ]['team'])
}

In [3]:
# Initialising dominance matrices
dominance_matrix_west_1 = pd.DataFrame([0][0], conferences["west"], columns=conferences["west"])
dominance_matrix_east_1 = pd.DataFrame([0][0], conferences["east"], columns=conferences["east"])

In [4]:
wins_east = {}

# Looping through all games
for idx, line in data.iterrows():
    
    # Getting team names from data
    team1 = line['Visitor/Neutral']
    team2 = line['Home/Neutral']
    
    # Checking if both teams are in the Eastern conference, if not, skip this game
    if team1 not in conferences["east"]: continue
    if team2 not in conferences["east"]: continue
    
    # Getting scores from data
    score1 = line['PTS']
    score2 = line['PTS.1']
    
    # Initialising key-value data structure with team1 and team2 
    # to store point margins if not already there
    if team1 not in wins_east: wins_east[team1] = {}
    if team2 not in wins_east: wins_east[team2] = {}
    if team2 not in wins_east[team1]: wins_east[team1][team2] = 0
    if team1 not in wins_east[team2]: wins_east[team2][team1] = 0
    
    # Adding point margin to winning team's score in data structure
    if score1 > score2: wins_east[team1][team2] += score1 - score2
    if score2 > score1: wins_east[team2][team1] += score2 - score1
    
    ### Old matrix method (Model 1a) 
    # if score1 > score2: wins_east[team1][team2] += 1
    # if score2 > score1: wins_east[team2][team1] += 1



wins_west = {}

# Looping through all games
for idx, line in data.iterrows():
    
    # Getting team names from data
    team1 = line['Visitor/Neutral']
    team2 = line['Home/Neutral']
    
    # Checking if both teams are in the Western conference, if not, skip this game
    if team1 not in conferences["west"]: continue
    if team2 not in conferences["west"]: continue
    
    # Getting scores from data
    score1 = line['PTS']
    score2 = line['PTS.1']
    
    # Initialising key-value data structure with team1 and team2
    # to store point margins if not already there
    if team1 not in wins_west: wins_west[team1] = {}
    if team2 not in wins_west: wins_west[team2] = {}
    if team2 not in wins_west[team1]: wins_west[team1][team2] = 0
    if team1 not in wins_west[team2]: wins_west[team2][team1] = 0
    
    # Adding point margin to winning team's score in data structure
    if score1 > score2: wins_west[team1][team2] += score1 - score2
    if score2 > score1: wins_west[team2][team1] += score2 - score1
    
    ### Old matrix method (Model 1a) 
    # if score1 > score2: wins_east[team1][team2] += 1
    # if score2 > score1: wins_east[team2][team1] += 1

In [5]:
# Setting weighting parameters for dominance vectors
v2_weight=0.1
v3_weight=0.01

In [6]:
# Looping through earlier data structure for Eastern conference
for team1 in wins_east:
    for team2 in wins_east[team1]:

        # If team1 has a bigger point margin overall than team2
        if wins_east[team1][team2] > wins_east[team2][team1]:

            # Populating dominance matrix
            dominance_matrix_east_1.at[team1, team2] = 1
            dominance_matrix_east_1.at[team2, team1] = 0
        
        # If team1 has a smaller point margin overall than team2
        elif wins_east[team1][team2] < wins_east[team2][team1]:
            
            # Populating dominance matrix
            dominance_matrix_east_1.at[team1, team2] = 0
            dominance_matrix_east_1.at[team2, team1] = 1
        
        # If team1 has the same point margin overall as team2
        elif wins_east[team1][team2] == wins_east[team2][team1]:

            # Populating dominance matrix
            dominance_matrix_east_1.at[team1, team2] = 0.5
            dominance_matrix_east_1.at[team2, team1] = 0.5
            
# Outputting dominance matrix (east)
dominance_matrix_east_1

,Atlanta Hawks,Boston Celtics,Brooklyn Nets,Charlotte Hornets,Chicago Bulls,Cleveland Cavaliers,Detroit Pistons,Indiana Pacers,Miami Heat,Milwaukee Bucks,New York Knicks,Orlando Magic,Philadelphia 76ers,Toronto Raptors,Washington Wizards
Atlanta Hawks,0,1,0,1,0,0,1,1,0,1,0,1,0,0,0
Boston Celtics,0,0,0,1,0,1,0,1,1,1,1,1,0,0,0
Brooklyn Nets,1,1,0,0,0,1,1,1,0,0,1,1,1,1,1
Charlotte Hornets,0,0,1,0,0,1,1,1,0,1,1,1,1,0,1
Chicago Bulls,1,1,1,1,0,0,1,0,0,0,1,1,0,1,1
Cleveland Cavaliers,1,0,0,0,1,0,1,1,1,1,1,1,0,1,0
Detroit Pistons,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
Indiana Pacers,0,0,0,0,1,0,1,0,0,0,1,0,1,0,1
Miami Heat,1,0,1,1,1,0,1,1,0,1,0,1,1,0,1
Milwaukee Bucks,0,0,1,0,0,0,1,1,0,0,1,1,1,0,0
New York Knicks,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0
Orlando Magic,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Philadelphia 76ers,1,1,0,0,1,0,1,0,0,0,0,1,0,0,1
Toronto Raptors,0,1,0,0,0,0,0,1,0,1,1,1,1,0,1
Washington Wizards,1,1,0,0,0,1,1,0,0,1,1,1,0,0,0

In [7]:
# Squaring and Cubing dominance matrix for second and third order dominance matrices with .dot() function
dominance_matrix_east_2 = dominance_matrix_east_1.dot(dominance_matrix_east_1)
dominance_matrix_east_3 = dominance_matrix_east_2.dot(dominance_matrix_east_1)

# Initialing matrix for dominace vectors
dominance_vector_matrix_east = pd.DataFrame()

# Adding rows of dominance matrices and populating dominace vector matrix
dominance_vector_matrix_east["v1"]=dominance_matrix_east_1.sum(axis=1)
dominance_vector_matrix_east["v2"]=dominance_matrix_east_2.sum(axis=1)
dominance_vector_matrix_east["v3"]=dominance_matrix_east_3.sum(axis=1)

# Calculating overall ranking score from weighting parameters and adding column to dominace vector matrix
dominance_vector_matrix_east["score"] = dominance_matrix_east_1.sum(axis=1) + v2_weight*dominance_matrix_east_2.sum(axis=1) + v3_weight*dominance_matrix_east_3.sum(axis=1)

# Sorting teams by score to determine ranking
dominance_vector_matrix_east = dominance_vector_matrix_east.sort_values("score", ascending=False)

# Outputting ranking (east)
dominance_vector_matrix_east

                     v1  v2   v3  score
Miami Heat           10  60  310  19.10
Brooklyn Nets        10  53  270  18.00
Chicago Bulls         9  52  264  16.84
Cleveland Cavaliers   9  49  252  16.42
Charlotte Hornets     9  49  243  16.33
Boston Celtics        7  43  227  13.57
Toronto Raptors       7  35  177  12.27
Washington Wizards    7  34  169  12.09
Philadelphia 76ers    6  31  165  10.75
Atlanta Hawks         6  29  154  10.44
Milwaukee Bucks       6  27  133  10.03
Indiana Pacers        5  28  138   9.18
New York Knicks       4  14   67   6.07
Detroit Pistons       2   7   35   3.05
Orlando Magic         0   0    0   0.00

In [8]:
# Looping through earlier data structure for Western conference
for team1 in wins_west:
    for team2 in wins_west[team1]:

        # If team1 has a bigger point margin overall than team2
        if wins_west[team1][team2] > wins_west[team2][team1]:

            # Populating dominance matrix
            dominance_matrix_west_1.at[team1, team2] = 1
            dominance_matrix_west_1.at[team2, team1] = 0
        
        # If team1 has a smaller point margin overall than team2
        elif wins_west[team1][team2] < wins_west[team2][team1]:
            
            # Populating dominance matrix
            dominance_matrix_west_1.at[team1, team2] = 0
            dominance_matrix_west_1.at[team2, team1] = 1
        
        # If team1 has the same point margin overall as team2
        elif wins_west[team1][team2] == wins_west[team2][team1]:

            # Populating dominance matrix
            dominance_matrix_west_1.at[team1, team2] = 0.5
            dominance_matrix_west_1.at[team2, team1] = 0.5

# Outputting dominance matrix (west)
dominance_matrix_west_1

,Dallas Mavericks,Denver Nuggets,Golden State Warriors,Houston Rockets,Los Angeles Clippers,Los Angeles Lakers,Memphis Grizzlies,Minnesota Timberwolves,New Orleans Pelicans,Oklahoma City Thunder,Phoenix Suns,Portland Trail Blazers,Sacramento Kings,San Antonio Spurs,Utah Jazz
Dallas Mavericks,0,0,1,1,1,0,1,1,1,1,0,1,1,1,0
Denver Nuggets,1,0,1,1,1,0,0,0,1,0,0,1,1,1,0
Golden State Warriors,0,0,0,1,1,1,0,1,1,1,1,1,1,0,1
Houston Rockets,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0
Los Angeles Clippers,0,0,0,0,0,1,0,1,0,1,0,1,1,0,0
Los Angeles Lakers,1,0,0,1,0,0,0,0,0,1,0,1,1,0,0
Memphis Grizzlies,0,1,1,1,1,1,0,0,0,1,0,0,1,1,1
Minnesota Timberwolves,0,1,0,1,0,1,1,0,1,1,0,1,1,1,0
New Orleans Pelicans,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0
Oklahoma City Thunder,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0
Phoenix Suns,1,1,0,1,1,1,1,1,1,1,0,0,1,1,0
Portland Trail Blazers,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0
Sacramento Kings,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
San Antonio Spurs,0,0,1,0,1,1,0,0,1,0,0,1,1,0,0
Utah Jazz,1,1,0,1,1,0,0,1,1,1,0,1,1,1,0

In [9]:
# Squaring and Cubing dominance matrix for second and third order dominance matrices with .dot() function
dominance_matrix_west_2 = dominance_matrix_west_1.dot(dominance_matrix_west_1)
dominance_matrix_west_3 = dominance_matrix_west_2.dot(dominance_matrix_west_1)

# Initialing matrix for dominace vectors
dominance_vector_matrix_west = pd.DataFrame()

# Adding rows of dominance matrices and populating dominace vector matrix
dominance_vector_matrix_west["v1"] = dominance_matrix_west_1.sum(axis=1)
dominance_vector_matrix_west["v2"] = dominance_matrix_west_2.sum(axis=1)
dominance_vector_matrix_west["v3"] = dominance_matrix_west_3.sum(axis=1)

# Calculating overall ranking score from weighting parameters and adding column to dominace vector matrix
dominance_vector_matrix_west["score"] = dominance_matrix_west_1.sum(axis=1) + v2_weight*dominance_matrix_west_2.sum(axis=1) + v3_weight*dominance_matrix_west_3.sum(axis=1)

# Sorting teams by score to determine ranking
dominance_vector_matrix_west = dominance_vector_matrix_west.sort_values("score", ascending=False)

# Outputting ranking (west)
dominance_vector_matrix_west

                        v1  v2   v3  score
Phoenix Suns            11  63  319  20.49
Golden State Warriors   10  55  282  18.32
Dallas Mavericks        10  54  280  18.20
Utah Jazz               10  53  270  18.00
Memphis Grizzlies        9  52  260  16.80
Minnesota Timberwolves   9  43  224  15.54
Denver Nuggets           8  43  222  14.52
San Antonio Spurs        6  29  149  10.39
Los Angeles Clippers     5  23  113   8.43
Los Angeles Lakers       5  22  114   8.34
Portland Trail Blazers   4  25  133   7.83
New Orleans Pelicans     3  18  100   5.80
Oklahoma City Thunder    3  17   90   5.60
Houston Rockets          3  12   64   4.84
Sacramento Kings         2   6   35   2.95

In [10]:
##### STOP HERE AS CORRECT TEAM IS NOT INCLUDED #####


# Finding players in the teams with a seed greater than or equal to 3
mvp_candidates = players[(players["TEAM"].isin(list(dominance_vector_matrix_west.head(3).index)) | players["TEAM"].isin(list(dominance_vector_matrix_east.head(3).index)))]

#Initialising fantasy points array
fantasy_points = []

# Calculating fantasy points for each eligible player
for idx, player in mvp_candidates.iterrows():
    fantasy_points.append(3*player["3PM"]+2*(player["FGM"]-player["3PM"])+player["FTM"]+1.2*player["REB"]+1.5*player["AST"]+2*player["STL"]+2*player["BLK"]-player["TO"])

# Adding fantasy points row to MVP candidates matrix
mvp_candidates["Fantasy Points"] = fantasy_points

# Ordering MVP candidates by Fantasy points to determine recipient
mvp_candidates = mvp_candidates.sort_values(by="Fantasy Points", ascending=False)

# Outputting MVP candidates matrix
mvp_candidates

/tmp/ipykernel_9941/1370292317.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvp_candidates["Fantasy Points"] = fantasy_points

,PLAYER,TEAM,FGM,3PM,FTM,REB,AST,TO,STL,BLK,Fantasy Points
0,Kevin Durant,Brooklyn Nets,375,66,225,264,205,106,27,33,1679.3
2,Stephen Curry,Golden State Warriors,320,186,167,202,227,127,53,19,1592.9
65,Chris Paul,Phoenix Suns,210,39,101,173,402,92,78,10,1454.6
7,DeMar DeRozan,Chicago Bulls,338,25,234,186,168,77,30,12,1417.2
6,Zach LaVine,Chicago Bulls,343,112,150,180,158,107,23,13,1366.0
...,...,...,...,...,...,...,...,...,...,...,...
578,MJ Walker,Phoenix Suns,0,0,0,1,1,0,2,0,6.7
556,George King,Dallas Mavericks,0,0,1,5,0,1,0,0,6.0
575,Jordan Bell,Chicago Bulls,0,0,0,1,0,0,1,0,3.2
568,JaQuori McLaughlin,Dallas Mavericks,0,0,0,0,2,0,0,0,3.0
580,Moses Wright,Dallas Mavericks,0,0,0,0,1,0,0,0,1.5

In [11]:
# Outputting MVP
print("Season MVP from seed <= 3 is " + list(mvp_candidates.head(1)["PLAYER"])[0])

Season MVP from seed <= 3 is Kevin Durant